In [120]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import cosine_similarity

dataset = pd.read_csv(r'C:\Users\Dell\Desktop\rest_api\rest_api\datasets\resturents.csv')

dataset.head()

,id,name,city,contact,latitude,longtiude,rate,reviews,veg_status,description
0,1,Seed Cafe,Colombo,117773470,6.910917,79.870545,4.6,926,veg,test
1,2,Calorie Counter Restuarant,Colombo,713282828,6.890207,79.865625,4.0,278,non_veg,test
2,3,Grind,Colombo,761051064,6.919647,79.857363,4.7,476,non_veg,test
3,4,Superfood Cafe,Colombo,766668177,6.916255,79.873718,4.4,172,veg,test
4,5,Cafe Kumbuk,Colomo,112685310,6.908997,79.864735,4.5,1289,non_veg,test

In [121]:
veg_status = "non_veg"
city = "Colombo"

dataset = dataset.drop_duplicates()

dataset['average_rating'] = (dataset['rate'] * dataset['reviews'] / dataset['reviews'])
data = dataset.sort_values(by=['average_rating'], ascending=False)
reviewd_data = data.groupby(['reviews']).apply(pd.DataFrame.sample).reset_index(drop=True)

reviewd_data = reviewd_data.reset_index(drop=True)
reviewd_data = reviewd_data[reviewd_data['city'] == city].head(3)
if (reviewd_data.empty == 0):
    datas = reviewd_data[['name', 'city', 'contact', 'rate', 'description']]
    json_data = datas.to_json(orient='records')
    print(json_data)    
else :
    print("empty")

/tmp/ipykernel_4852/3898001921.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  reviewd_data = data.groupby(['reviews']).apply(pd.DataFrame.sample).reset_index(drop=True)